/* common css */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Noto Serif", serif;
  /* font-family: "Inter", sans-serif; */
}
body{
  background-color: #F5F8FF;
}
.custom-width{
  max-width: 1140px;
  margin: 0px auto;
}

/* banner css start */
.banner{
  margin-top: 20px;
}
.banner-text{
  margin-top: 299px;
  padding: 20px;
}
.banner-text h1{
  margin-bottom: 20px;
}
/* baneer css end */

.plant-section{
  margin-top: 70px;
  margin-bottom: 200px;
}
.card-container{
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card-btn{
  padding: 8px 20px;
  min-width: 270px;
}
.card-text p{
  min-width: 270px;
  text-align: center;
}
/* plant-card section end */

.trust{
  height: 286px;
  width: 286px;
  position: absolute;
  margin: -160px 0px 0px 380px;
  z-index: 3;
}
.plant-lover{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  position: relative;
}
.right-text{
  margin-top: 50px;
}
.right-text-title{
  margin-bottom: 100px;
}